textarea {
    border: 3px solid   ;
    width: 600px;
    height: 120px;
    padding: 5px;
    background: beige;
}

h3 {
    font-size: 1em;
}

button {
    color: white;
    background: blue;
    cursor: pointer;
}

#originalText {
    border: 3px solid black;
    background: lightgray;
    width: 600px;
    height: 120px;
    padding: 5px;
}

.summary {
    display: none
}

#closeSummary {
    background: lightgray;
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeSummary:hover,
#closeSummary:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}